@font-face {
  font-family: "Balsamiq Sans";
  src: url("../assets/fonts/BalsamiqSans-Bold.ttf");
}
@font-face {
  font-family: "Odibee Sans";
  src: url("../assets/fonts/OdibeeSans-Regular.ttf");
}
@font-face {
  font-family: "Sansita", sans-serif;
  src: url("../assets/fonts/Sansita-Regular.ttf");
}
@font-face {
  font-family: "Speedball Metropolitan Poster";
  src: url("../assets/fonts/Speedball-Metropolitan-Poster.otf");
}
