@import url("./fonts.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ---------- Global Variables START ---------- */
:root {
  /* Fonts START */
  --font-caption-BalsamiqSans: "Balsamiq Sans", cursive;
  --font-navLink-OdibeeSans: "Odibee Sans", cursive;
  --font-text-Sansita: "Sansita", sans-serif;
  --font-heading-SpeedballMetro: "Speedball Metropolitan Poster", sans-serif;
  /* Fonts END */

  /* Color Theme START */
  --color-black: rgba(15, 15, 15, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-golden: rgba(255, 215, 0, 1);
  --color-reddish: rgba(186, 31, 31, 1);
  /* Color Theme END */

  /* width,height,padding and Margin START */
  --page-padding-lg-screen: 0 2rem;
  --page-padding-sm-screen: 0 1rem;
  --navbar-height: 9vh;
  --navbar-link-height-sm: 6.7vh;
  /* width,height,padding and Margin END */
}
/* ---------- Global Variables END ---------- */

/* ---------- Global Styles START ---------- */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
/* ---------- Global Styles END ---------- */

/* ---------- Header Style START ---------- */
nav {
  position: fixed;
  width: 100%;
  display: flex;
  background: rgba(15, 15, 15, 1);
  background: var(--color-black, rgba(15, 15, 15, 1));
  padding: 0 2rem;
  padding: var(--page-padding-lg-screen, 0 2rem);
  z-index: 10;
}

.navbar-brand {
  height: 9vh;
}

.navbar-brand a img {
  margin: 10% 0;
  width: auto;
  height: 80%;
}

ul.nav-menu {
  list-style-type: none;
}

ul.nav-menu li.nav-item a.nav-link,
.nav-btn-label {
  font-family: "Odibee Sans", cursive;
  font-family: var(--font-navLink-OdibeeSans, "Odibee Sans", cursive);
  transition: all 350ms ease;
}

ul#primaryMenu > li.nav-item > a.nav-link:hover,
ul#primaryMenu > li.nav-item > .nav-btn-label:hover {
  color: rgba(255, 215, 0, 1);
  color: var(--color-golden, rgba(255, 215, 0, 1));
  background: rgba(186, 31, 31, 1);
  background: var(--color-reddish, rgba(186, 31, 31, 1));
}

#primaryMenu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  max-height: 91vh;
  overflow: auto;
}

ul#primaryMenu > li.nav-item > a.nav-link,
.nav-btn-label {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  color: var(--color-white, rgba(255, 255, 255, 1));
  line-height: 9vh;
  padding: 0 2rem;
  font-size: 1.3rem;
}

.nav-btn,
#toggleBtn {
  display: none;
}

.nav-btn-label {
  cursor: pointer;
}

.nav-btn-label {
  position: relative;
}

.nav-btn-label span {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: transparent;
  position: absolute;
  top: 3vh;
  right: 12px;
  border-right: 3px solid rgba(255, 255, 255, 1);
  border-right: 3px solid var(--color-white, rgba(255, 255, 255, 1));
  border-bottom: 3px solid rgba(255, 255, 255, 1);
  border-bottom: 3px solid var(--color-white, rgba(255, 255, 255, 1));
  transform: rotate(45deg);
  transition: all 350ms ease;
}

ul.nav-menu > li.nav-item > .nav-btn-label:hover > span {
  border-right: 3px solid rgba(255, 215, 0, 1);
  border-right: 3px solid var(--color-golden, rgba(255, 215, 0, 1));
  border-bottom: 3px solid rgba(255, 215, 0, 1);
  border-bottom: 3px solid var(--color-golden, rgba(255, 215, 0, 1));
}

.nav-btn:checked + .nav-btn-label {
  color: rgba(255, 215, 0, 1);
  color: var(--color-golden, rgba(255, 215, 0, 1));
  background: rgba(186, 31, 31, 1);
  background: var(--color-reddish, rgba(186, 31, 31, 1));
}

.nav-btn:checked + .nav-btn-label > span {
  top: 4vh;
  transform: rotate(-135deg);
  border-right: 3px solid rgba(255, 215, 0, 1);
  border-right: 3px solid var(--color-golden, rgba(255, 215, 0, 1));
  border-bottom: 3px solid rgba(255, 215, 0, 1);
  border-bottom: 3px solid var(--color-golden, rgba(255, 215, 0, 1));
}

.nav-btn ~ ul.nav-menu,
.nav-btn ~ .mega-dropdown {
  display: none;
}

.nav-btn:checked ~ ul.nav-menu {
  display: block;
}

.nav-btn:checked ~ .mega-dropdown {
  display: flex !important;
}

.mega-dropdown {
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 2rem;
  border: 2px solid rgba(127, 127, 127, 0.5);
  border-radius: 5px;
}

.mega-dropdown > ul.nav-menu {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.mega-dropdown > ul.nav-menu > li.nav-item {
  flex: 33.33%;
  max-width: 33.33%;
}

.mega-dropdown > ul.nav-menu > li.nav-item > a.nav-link {
  display: block;
  padding: 0 10px;
  font-size: 1.2rem;
  color: rgba(15, 15, 15, 1);
  color: var(--color-black, rgba(15, 15, 15, 1));
}

.mega-dropdown > ul.nav-menu > li.nav-item > a.nav-link:hover {
  color: rgba(186, 31, 31, 1);
  color: var(--color-reddish, rgba(186, 31, 31, 1));
}

.mega-dropdown > ul.nav-menu > li.nav-item > a.nav-link > img {
  width: 80px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}

.mega-dropdown > div {
  display: flex;
  justify-content: center;
}

.mega-dropdown > div > a.full-menu-link {
  display: inline-block;
  font-family: var(--font-caption-BalsamiqSans);
  font-size: 1.2rem;
  padding: 0.9rem 1.6rem;
  border: 1px solid rgba(127, 127, 127, 0.5);
  border-radius: 5px;
  color: var(--color-reddish);
}

.mega-dropdown > div > a.full-menu-link > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: transparent;
  border-right: 2px solid rgba(186, 31, 31, 1);
  border-right: 2px solid var(--color-reddish, rgba(186, 31, 31, 1));
  border-bottom: 2px solid rgba(186, 31, 31, 1);
  border-bottom: 2px solid var(--color-reddish, rgba(186, 31, 31, 1));
  transform: rotate(-45deg);
}

.mega-dropdown > div > a.full-menu-link:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 1024px) {
  ul#primaryMenu > li.nav-item > a.nav-link,
  .nav-btn-label {
    padding: 0 1.5rem;
  }

  .mega-dropdown {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .mega-dropdown > ul.nav-menu {
    margin-bottom: 1.5rem;
  }

  .nav-btn-label span {
    right: 6px;
  }

  .nav-btn:checked + .nav-btn-label > span {
    top: 3.8vh;
  }
}

@media only screen and (max-width: 910px) {
  ul#primaryMenu > li.nav-item > a.nav-link,
  .nav-btn-label {
    padding: 0 1.2rem;
  }

  ul#primaryMenu > li.nav-item > a.nav-link,
  .nav-btn-label {
    font-size: 1.2rem;
  }

  .nav-btn-label span {
    width: 10px;
    height: 10px;
    right: 3px;
    border-right: 2.5px solid rgba(255, 255, 255, 1);
    border-right: 2.5px solid var(--color-white, rgba(255, 255, 255, 1));
    border-bottom: 2.5px solid rgba(255, 255, 255, 1);
    border-bottom: 2.5px solid var(--color-white, rgba(255, 255, 255, 1));
  }

  ul.nav-menu > li.nav-item > .nav-btn-label:hover > span {
    border-right: 2.5px solid rgba(255, 215, 0, 1);
    border-right: 2.5px solid var(--color-golden, rgba(255, 215, 0, 1));
    border-bottom: 2.5px solid rgba(255, 215, 0, 1);
    border-bottom: 2.5px solid var(--color-golden, rgba(255, 215, 0, 1));
  }

  .nav-btn:checked + .nav-btn-label > span {
    border-right: 2.5px solid rgba(255, 215, 0, 1);
    border-right: 2.5px solid var(--color-golden, rgba(255, 215, 0, 1));
    border-bottom: 2.5px solid rgba(255, 215, 0, 1);
    border-bottom: 2.5px solid var(--color-golden, rgba(255, 215, 0, 1));
  }

  .mega-dropdown > ul.nav-menu {
    width: 90%;
  }

  .mega-dropdown > ul.nav-menu > li.nav-item > a.nav-link {
    font-size: 1.1rem;
  }

  .mega-dropdown > div > a.full-menu-link {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 825px) {
  .mega-dropdown > ul.nav-menu {
    width: 95%;
  }
}
/* ---------- Header Style END ---------- */

/* ----- Media => (max-width: 768px) START ----- */

@media only screen and (max-width: 768px) {
  nav {
    padding: 0 1rem;
    padding: var(--page-padding-sm-screen, 0 1rem);
  }

  #primaryMenu {
    flex-direction: column;
    justify-content: start;
    position: absolute;
    top: 9vh;
    left: -100%;
    width: 100%;
    max-height: 100vh;
    background: rgba(15, 15, 15, 1);
    background: var(--color-black, rgba(15, 15, 15, 1));
    transition: all 350ms ease;
    overflow: auto;
  }

  #toggleBtn:checked ~ #primaryMenu {
    left: 0;
  }

  #primaryMenu::-webkit-scrollbar {
    width: 0;
  }

  ul#primaryMenu > li.nav-item > a.nav-link,
  .nav-btn-label {
    width: 100%;
  }

  .toggle-btn-label {
    position: absolute;
    right: 1rem;
    margin: 2vh 0;
  }

  .toggle-btn-line {
    position: relative;
    background: rgba(255, 255, 255, 1);
    background: var(--color-white, rgba(255, 255, 255, 1));
    width: 2.4rem;
    height: 1vh;
    transition: transform 350ms ease;
  }

  #toggleBtn:checked + .toggle-btn-label > .toggle-btn-line:nth-child(1) {
    transform: rotate(-42deg) translateY(7px);
  }
  #toggleBtn:checked + .toggle-btn-label > .toggle-btn-line:nth-child(2) {
    display: none;
  }
  #toggleBtn:checked + .toggle-btn-label > .toggle-btn-line:nth-child(3) {
    transform: rotate(42deg) translateY(-7px);
  }

  .toggle-btn-line:not(:last-child) {
    margin-bottom: 1vh;
  }

  .mega-dropdown {
    position: static;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    border-radius: none;
  }

  .mega-dropdown > ul.nav-menu {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
  }

  .mega-dropdown > ul.nav-menu > li.nav-item,
  .mega-dropdown > div {
    flex: 100%;
    max-width: 100%;
    max-height: 0;
    height: 0;
    -webkit-animation: mega-item-anim 350ms linear 50ms both;
    -moz-animation: mega-item-animn 350ms linear 50ms both;
    -o-animation: mega-item-anim 350ms linear 50ms both;
    animation: mega-item-anim 350ms linear 50ms both;
  }

  @-webkit-keyframes mega-item-anim {
    0% {
      opacity: 0;
      max-height: 0;
    }
    100% {
      opacity: 1;
      max-height: 100px;
    }
  }

  @-moz-keyframes mega-item-anim {
    0% {
      opacity: 0;
      max-height: 0;
    }
    100% {
      opacity: 1;
      max-height: 100px;
    }
  }

  @-o-keyframes mega-item-anim {
    0% {
      opacity: 0;
      max-height: 0;
    }
    100% {
      opacity: 1;
      max-height: 100px;
    }
  }

  @keyframes mega-item-anim {
    0% {
      opacity: 0;
      max-height: 0;
    }
    100% {
      opacity: 1;
      max-height: 100px;
    }
  }

  .mega-dropdown > ul.nav-menu > li.nav-item > a.nav-link {
    padding: 10px;
    color: rgba(255, 255, 255, 1);
    color: var(--color-white, rgba(255, 255, 255, 1));
  }

  .mega-dropdown > div > a.full-menu-link {
    color: rgba(255, 215, 0, 1);
    color: var(--color-golden, rgba(255, 215, 0, 1));
  }

  .mega-dropdown > div > a.full-menu-link > span {
    border-right: 2px solid rgba(255, 215, 0, 1);
    border-right: 2px solid var(--color-golden, rgba(255, 215, 0, 1));
    border-bottom: 2px solid rgba(255, 215, 0, 1);
    border-bottom: 2px solid var(--color-golden, rgba(255, 215, 0, 1));
  }

  .nav-btn-label span {
    width: 1.3rem;
    height: 0.25rem;
    background: rgba(255, 255, 255, 1);
    background: var(--color-white, rgba(255, 255, 255, 1));
    top: 4vh;
    right: 1.7rem;
    border: none;
    transform: rotate(0);
  }

  .nav-btn-label span::before {
    content: "";
    position: absolute;
    width: 1.3rem;
    height: 0.25rem;
    background: rgba(255, 255, 255, 1);
    background: var(--color-white, rgba(255, 255, 255, 1));
    transform: rotate(90deg);
  }

  ul.nav-menu > li.nav-item > .nav-btn-label:hover > span {
    top: 4vh;
    background: rgba(255, 215, 0, 1);
    background: var(--color-golden, rgba(255, 215, 0, 1));
    transform: rotate(0);
    border: none;
  }

  ul.nav-menu > li.nav-item > .nav-btn-label:hover > span::before {
    background: rgba(255, 215, 0, 1);
    background: var(--color-golden, rgba(255, 215, 0, 1));
  }

  .nav-btn:checked + .nav-btn-label > span {
    transform: rotate(0);
    border: none;
  }

  .nav-btn:checked + .nav-btn-label > span::before {
    display: none;
  }
}
/* ----- Media => (max-width: 768px) END ----- */

/* ---------- START ---------- */
/* ---------- END ---------- */
